<div class="container">
<h3>商品新規登録</h3>
 <%= form_with model: @item, url: admin_items_path(@item) do |f| %>
   <p>商品画像
    <%= f.file_field :image,accept: "image/*" %></p>
   <p>商品名
    <%= f.text_field :name,placeholder: "商品名" %></p>
   <p>商品説明
    <%= f.text_area :introduction,placeholder: "ここに説明文を記述します" %></p>
   <p>ジャンル
    <%= f.collection_select :genre_id, Genre.all, :id, :name,{include_blank: '--選択してください--'} %></p>
   <p>税抜価格
    <%= f.text_field :price,placeholder: "1000" %>円</p>
   <p>販売ステータス
    <%= f.radio_button :is_active, true %>
     <%= f.label :is_active, "販売中" %>
    <%= f.radio_button :is_active, false %>
     <%= f.label :is_active, "販売停止中" %></p>
   <%= f.submit "新規投稿", class:"btn btn-success btn-sm" %>
 <% end %>
</div>
