<body>
 <div class="container">
  <text>ようこそ、ながのCAKEへ！</br>
  このサイトは、ケーキ販売のECサイトになります。</br>
  会員でない方も商品の閲覧はできますが、</br>
  購入には会員登録が必要になります。</br>
  </text>
  <div>
   <h4 class="pt-3"><strong>新着商品</strong></h4>
   <div class="row">
    <% @item.each do |item| %>
    <table>
     <tr>
      <th>
       <%= link_to item_path(item.id) do %>
        <%= image_tag item.image,size: "130x100" %>
       <% end %>
      </th>
       <td><%= item.name %></td>
       <td>¥<%= item.price %></td>
     </tr>
    </table>
   <% end %>
   </div>
  </div>
  <%= link_to "全ての商品を見る>",items_path %>
 </div>
</body>