<body>
 <div class="container">
  <h3><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h3>
  <%= form_with model: @customer ,url: admin_customer_path do |f| %>
    <p>
     <label for="inputName">会員ID</label>
     <%= @customer.id %>
    </p>
    <p>
     <label for="inputName">氏名</label>
     <%= f.text_field :last_name,autofocus: true,placeholder: "名前" %>
     <%= f.text_field :first_name,placeholder: "名前" %>
    </p>
    <p>
      <label for="inputName">フリガナ</label>
      <%= f.text_field :last_name_kana,placeholder: "ナマエ" %>
      <%= f.text_field :first_name_kana,placeholder: "ナマエ" %>
    </p>
    <p>
      <label for="inputName">郵便番号</label>
      <%= f.text_field :postal_code %>
    </p>
    <p>
      <label for="inputName">住所</label>
      <%= f.text_field :address %>
    </p>
    <p>
      <label for="inputName">電話番号</label>
      <%= f.text_field :telephone_number %>
    </p>
    <p>
      <label for="inputName">メールアドレス</label>
      <%= f.text_field :email %>
    </p>
    <p>
      <label for="inputName">会員ステータス</label>
      <%= f.radio_button :is_deleted, false %>
       <%= f.label :is_deleted, "有効" %>
      <%= f.radio_button :is_deleted, true %>
       <%= f.label :is_deleted, "退会" %>
    </p>
      <%= f.submit "変更を保存",class:"btn btn-success btn-sm" %>
  <% end %>
 </div>
</body>