<body>
 <div class="container">
  <h3 class="pt-3">商品一覧</h3>
   <div class="row mb-3">
    <% @item.each do |item| %>
     <table>
      <tr>
       <th>
        <%= link_to item_path(item) do %>
         <%= image_tag item.image,size: "130x100"if item.image.attached? %>
        <% end %>
       </th>
       <td>
        <%= item.name %>
        ¥<%= item.price %>
       </td>
      </tr>
     </table>
    <% end %>
   </div>
  <%= paginate @item %>
 </div>
</body>
